scripts/n8n-co-gateway/workflow_post_masked.json
{
 "updatedAt": "2026-07-05T15:34:18.292Z",
 "createdAt": "2026-07-05T15:34:18.292Z",
 "id": "L68kJ7uGWauFRANX",
 "name": "CO Drive Gateway",
 "description": null,
 "active": false,
 "isArchived": false,
 "nodes": [
  {
   "parameters": {
    "httpMethod": "POST",
    "path": "co-gw-MASKED-SUFFIX-find",
    "responseMode": "responseNode",
    "options": {}
   },
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2,
   "position": [
    0,
    0
   ],
   "id": "fa0b57af-02b6-4cd7-9781-eae8cb3b2806",
   "name": "WH find",
   "webhookId": "d8dc649b-c9a2-4f23-8a13-5b10bdf78ed7"
  },
  {
   "parameters": {
    "jsCode": "if ((($input.first().json.headers||{})['x-co-gateway-token']||'') !== '***TOKEN***') throw new Error('unauthorized');\nconst b = $input.first().json.body || {};\nconst ALLOWED = ['1hyNXrtWHcX-Q940t8ZwG6Ghf5E3DgQ8I','1_PwyBl9R826hjn4IGYgJvgE20fEIaQaL'];\nconst folderId = String(b.folderId||'');\nif (!ALLOWED.includes(folderId)) throw new Error('folder not allowed');\nconst name = String(b.name||'').trim();\nif (!name || name.length > 140) throw new Error('bad name');\nconst safe = name.replace(/\\\\/g,'\\\\\\\\').replace(/'/g,\"\\\\'\");\nreturn [{ json: { q: \"name='\" + safe + \"' and '\" + folderId + \"' in parents and trashed=false\" } }];"
   },
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    220,
    0
   ],
   "id": "1ee679bc-48ff-467e-ae3c-068442a52f39",
   "name": "Prep find"
  },
  {
   "parameters": {
    "authentication": "predefinedCredentialType",
    "nodeCredentialType": "googleDriveOAuth2Api",
    "options": {},
    "url": "https://www.googleapis.com/drive/v3/files",
    "sendQuery": true,
    "queryParameters": {
     "parameters": [
      {
       "name": "q",
       "value": "={{ $json.q }}"
      },
      {
       "name": "fields",
       "value": "files(id,name,modifiedTime,webViewLink)"
      },
      {
       "name": "orderBy",
       "value": "modifiedTime desc"
      },
      {
       "name": "pageSize",
       "value": "10"
      },
      {
       "name": "supportsAllDrives",
       "value": "true"
      },
      {
       "name": "includeItemsFromAllDrives",
       "value": "true"
      },
      {
       "name": "corpora",
       "value": "allDrives"
      }
     ]
    }
   },
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    440,
    0
   ],
   "id": "fe3f1d18-846c-491a-b5d7-9e55a087fa36",
   "name": "HTTP find",
   "credentials": {
    "googleDriveOAuth2Api": {
     "id": "Hdz3HCDRSA2GStDS",
     "name": "Google Drive account 2"
    }
   }
  },
  {
   "parameters": {
    "jsCode": "return [{ json: { ok: true, files: ($input.first().json.files) || [] } }];"
   },
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    660,
    0
   ],
   "id": "c69011b6-a1d7-4b4d-8b0a-c9e2ab42f754",
   "name": "Shape find"
  },
  {
   "parameters": {
    "respondWith": "json",
    "responseBody": "={{ JSON.stringify($json) }}",
    "options": {}
   },
   "type": "n8n-nodes-base.respondToWebhook",
   "typeVersion": 1.1,
   "position": [
    880,
    0
   ],
   "id": "87189adc-e6be-436f-a7f1-b9ab5a6bb4a2",
   "name": "Respond find"
  },
  {
   "parameters": {
    "httpMethod": "POST",
    "path": "co-gw-MASKED-SUFFIX-download",
    "responseMode": "responseNode",
    "options": {}
   },
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2,
   "position": [
    0,
    200
   ],
   "id": "9e50cc56-fd48-41c5-a375-6d5999b5d9e7",
   "name": "WH download",
   "webhookId": "d5e0908c-44c6-4e9c-9cab-867ec1820a08"
  },
  {
   "parameters": {
    "jsCode": "if ((($input.first().json.headers||{})['x-co-gateway-token']||'') !== '***TOKEN***') throw new Error('unauthorized');\nconst fileId = String(($input.first().json.body||{}).fileId||'');\nif (!/^[A-Za-z0-9_-]{10,90}$/.test(fileId)) throw new Error('bad fileId');\nreturn [{ json: { fileId } }];"
   },
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    220,
    200
   ],
   "id": "7d1e9a67-7d72-4087-ba5d-c0833aadf9dc",
   "name": "Prep download"
  },
  {
   "parameters": {
    "authentication": "predefinedCredentialType",
    "nodeCredentialType": "googleDriveOAuth2Api",
    "options": {},
    "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $json.fileId + '?fields=id,name,parents,webViewLink&supportsAllDrives=true' }}"
   },
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    440,
    200
   ],
   "id": "f00a4ee9-14b8-4984-8135-50fb1c3928b6",
   "name": "Meta download",
   "credentials": {
    "googleDriveOAuth2Api": {
     "id": "Hdz3HCDRSA2GStDS",
     "name": "Google Drive account 2"
    }
   }
  },
  {
   "parameters": {
    "jsCode": "const m = $input.first().json;\nif (!(m.parents||[]).includes('1hyNXrtWHcX-Q940t8ZwG6Ghf5E3DgQ8I')) throw new Error('file outside CO ZIP');\nreturn [{ json: { id: m.id, name: m.name, webViewLink: m.webViewLink } }];"
   },
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    660,
    200
   ],
   "id": "cd8e9e4d-8d0e-4037-96e3-00b587745329",
   "name": "Gate download"
  },
  {
   "parameters": {
    "authentication": "predefinedCredentialType",
    "nodeCredentialType": "googleDriveOAuth2Api",
    "options": {
     "response": {
      "response": {
       "responseFormat": "file"
      }
     }
    },
    "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $json.id + '?alt=media&supportsAllDrives=true' }}"
   },
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    880,
    200
   ],
   "id": "a19422c1-140b-4345-bb1b-20e391ddbf38",
   "name": "HTTP download",
   "credentials": {
    "googleDriveOAuth2Api": {
     "id": "Hdz3HCDRSA2GStDS",
     "name": "Google Drive account 2"
    }
   }
  },
  {
   "parameters": {
    "jsCode": "const meta = $('Gate download').first().json;\nconst buf = await this.helpers.getBinaryDataBuffer(0, 'data');\nreturn [{ json: { ok: true, fileId: meta.id, name: meta.name, webViewLink: meta.webViewLink, bytesBase64: buf.toString('base64') } }];"
   },
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1100,
    200
   ],
   "id": "7592b79e-ed15-4ef6-9f16-85e88170a75b",
   "name": "Shape download"
  },
  {
   "parameters": {
    "respondWith": "json",
    "responseBody": "={{ JSON.stringify($json) }}",
    "options": {}
   },
   "type": "n8n-nodes-base.respondToWebhook",
   "typeVersion": 1.1,
   "position": [
    1320,
    200
   ],
   "id": "308ddb5b-ed56-49dc-87e3-008b25a7ba52",
   "name": "Respond download"
  },
  {
   "parameters": {
    "httpMethod": "POST",
    "path": "co-gw-MASKED-SUFFIX-upload",
    "responseMode": "responseNode",
    "options": {}
   },
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2,
   "position": [
    0,
    400
   ],
   "id": "c5eb4f4b-066e-4b93-91f0-e310c79b6d1d",
   "name": "WH upload",
   "webhookId": "3ec7bd4c-420f-4f57-bb37-6ea81b721ace"
  },
  {
   "parameters": {
    "jsCode": "if ((($input.first().json.headers||{})['x-co-gateway-token']||'') !== '***TOKEN***') throw new Error('unauthorized');\nconst b = $input.first().json.body || {};\nconst name = String(b.name||'');\nif (!/^[A-Za-z0-9_-]{5,130}\\.pdf$/i.test(name)) throw new Error('bad name');\nconst buf = Buffer.from(String(b.pdfBase64||''), 'base64');\nif (!buf.length || buf.length > 5242880) throw new Error('bad pdf size');\nconst bin = await this.helpers.prepareBinaryData(buf, name, 'application/pdf');\nreturn [{ json: { name }, binary: { data: bin } }];"
   },
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    220,
    400
   ],
   "id": "6a57f5b3-14dc-41cf-9a2b-ff90307d6963",
   "name": "Prep upload"
  },
  {
   "parameters": {
    "name": "={{ $json.name }}",
    "driveId": {
     "__rl": true,
     "value": "0AKuox28BE9ytUk9PVA",
     "mode": "list",
     "cachedResultName": "TEAM EXPORTACION  ",
     "cachedResultUrl": "https://drive.google.com/drive/folders/0AKuox28BE9ytUk9PVA"
    },
    "folderId": {
     "__rl": true,
     "value": "1_PwyBl9R826hjn4IGYgJvgE20fEIaQaL",
     "mode": "list",
     "cachedResultName": "CO PDF",
     "cachedResultUrl": "https://drive.google.com/drive/folders/1_PwyBl9R826hjn4IGYgJvgE20fEIaQaL"
    },
    "options": {}
   },
   "type": "n8n-nodes-base.googleDrive",
   "typeVersion": 3,
   "position": [
    440,
    400
   ],
   "id": "78faa6a0-fafa-4c75-badf-c1d8eb36e18f",
   "name": "GD upload",
   "credentials": {
    "googleDriveOAuth2Api": {
     "id": "Hdz3HCDRSA2GStDS",
     "name": "Google Drive account 2"
    }
   }
  },
  {
   "parameters": {
    "jsCode": "const j = $input.first().json;\nreturn [{ json: { ok: true, fileId: j.id, name: j.name, webViewLink: j.webViewLink || ('https://drive.google.com/file/d/' + j.id + '/view') } }];"
   },
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    660,
    400
   ],
   "id": "446e8ab3-0714-413b-8964-3bf0ebde9cec",
   "name": "Shape upload"
  },
  {
   "parameters": {
    "respondWith": "json",
    "responseBody": "={{ JSON.stringify($json) }}",
    "options": {}
   },
   "type": "n8n-nodes-base.respondToWebhook",
   "typeVersion": 1.1,
   "position": [
    880,
    400
   ],
   "id": "2ba24177-9f85-4c23-8186-e8278788c571",
   "name": "Respond upload"
  },
  {
   "parameters": {
    "httpMethod": "POST",
    "path": "co-gw-MASKED-SUFFIX-update",
    "responseMode": "responseNode",
    "options": {}
   },
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2,
   "position": [
    0,
    600
   ],
   "id": "4f090ee9-36c0-40e5-80d5-a82e80ef6fa0",
   "name": "WH update",
   "webhookId": "540b9ee7-3be1-4f89-a727-523546030d0b"
  },
  {
   "parameters": {
    "jsCode": "if ((($input.first().json.headers||{})['x-co-gateway-token']||'') !== '***TOKEN***') throw new Error('unauthorized');\nconst b = $input.first().json.body || {};\nconst fileId = String(b.fileId||'');\nif (!/^[A-Za-z0-9_-]{10,90}$/.test(fileId)) throw new Error('bad fileId');\nconst buf = Buffer.from(String(b.pdfBase64||''), 'base64');\nif (!buf.length || buf.length > 5242880) throw new Error('bad pdf size');\nconst bin = await this.helpers.prepareBinaryData(buf, 'update.pdf', 'application/pdf');\nreturn [{ json: { fileId }, binary: { data: bin } }];"
   },
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    220,
    600
   ],
   "id": "305d0b92-f7fc-46e7-9c73-3ddbf722fcb8",
   "name": "Prep update"
  },
  {
   "parameters": {
    "authentication": "predefinedCredentialType",
    "nodeCredentialType": "googleDriveOAuth2Api",
    "options": {},
    "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $json.fileId + '?fields=id,name,parents&supportsAllDrives=true' }}"
   },
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    440,
    600
   ],
   "id": "618e2fe2-1036-4121-940b-fb2cc2dced13",
   "name": "Meta update",
   "credentials": {
    "googleDriveOAuth2Api": {
     "id": "Hdz3HCDRSA2GStDS",
     "name": "Google Drive account 2"
    }
   }
  },
  {
   "parameters": {
    "jsCode": "const m = $input.first().json;\nif (!(m.parents||[]).includes('1_PwyBl9R826hjn4IGYgJvgE20fEIaQaL')) throw new Error('file outside CO PDF');\nreturn [{ json: { id: m.id, name: m.name }, binary: $('Prep update').first().binary }];"
   },
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    660,
    600
   ],
   "id": "3164175e-a7d5-4fe2-886b-f1dc5643d697",
   "name": "Gate update"
  },
  {
   "parameters": {
    "authentication": "predefinedCredentialType",
    "nodeCredentialType": "googleDriveOAuth2Api",
    "options": {},
    "method": "PATCH",
    "url": "={{ 'https://www.googleapis.com/upload/drive/v3/files/' + $json.id + '?uploadType=media&supportsAllDrives=true&fields=id,name,webViewLink' }}",
    "sendBody": true,
    "contentType": "binaryData",
    "inputDataFieldName": "data"
   },
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    880,
    600
   ],
   "id": "2a0d5091-9404-4f53-b4c0-344998c64306",
   "name": "PATCH update",
   "credentials": {
    "googleDriveOAuth2Api": {
     "id": "Hdz3HCDRSA2GStDS",
     "name": "Google Drive account 2"
    }
   }
  },
  {
   "parameters": {
    "jsCode": "const j = $input.first().json;\nreturn [{ json: { ok: true, fileId: j.id, name: j.name, webViewLink: j.webViewLink || ('https://drive.google.com/file/d/' + j.id + '/view') } }];"
   },
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1100,
    600
   ],
   "id": "16224f46-3f15-4351-ad00-a84372495b6a",
   "name": "Shape update"
  },
  {
   "parameters": {
    "respondWith": "json",
    "responseBody": "={{ JSON.stringify($json) }}",
    "options": {}
   },
   "type": "n8n-nodes-base.respondToWebhook",
   "typeVersion": 1.1,
   "position": [
    1320,
    600
   ],
   "id": "06aeace4-d85d-4e94-8e3f-426ef50ae4ca",
   "name": "Respond update"
  }
 ],
 "connections": {
  "WH find": {
   "main": [
    [
     {
      "node": "Prep find",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Prep find": {
   "main": [
    [
     {
      "node": "HTTP find",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "HTTP find": {
   "main": [
    [
     {
      "node": "Shape find",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Shape find": {
   "main": [
    [
     {
      "node": "Respond find",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "WH download": {
   "main": [
    [
     {
      "node": "Prep download",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Prep download": {
   "main": [
    [
     {
      "node": "Meta download",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Meta download": {
   "main": [
    [
     {
      "node": "Gate download",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Gate download": {
   "main": [
    [
     {
      "node": "HTTP download",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "HTTP download": {
   "main": [
    [
     {
      "node": "Shape download",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Shape download": {
   "main": [
    [
     {
      "node": "Respond download",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "WH upload": {
   "main": [
    [
     {
      "node": "Prep upload",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Prep upload": {
   "main": [
    [
     {
      "node": "GD upload",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "GD upload": {
   "main": [
    [
     {
      "node": "Shape upload",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Shape upload": {
   "main": [
    [
     {
      "node": "Respond upload",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "WH update": {
   "main": [
    [
     {
      "node": "Prep update",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Prep update": {
   "main": [
    [
     {
      "node": "Meta update",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Meta update": {
   "main": [
    [
     {
      "node": "Gate update",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Gate update": {
   "main": [
    [
     {
      "node": "PATCH update",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH update": {
   "main": [
    [
     {
      "node": "Shape update",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Shape update": {
   "main": [
    [
     {
      "node": "Respond update",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1"
 },
 "staticData": null,
 "meta": null,
 "nodeGroups": [],
 "pinData": null,
 "versionId": "3bdea1f7-cb35-42e0-8dca-0fdd3ba0a72c",
 "activeVersionId": null,
 "versionCounter": 1,
 "triggerCount": 0,
 "sourceWorkflowId": null,
 "shared": [
  {
   "updatedAt": "2026-07-05T15:34:18.295Z",
   "createdAt": "2026-07-05T15:34:18.295Z",
   "role": "workflow:owner",
   "workflowId": "L68kJ7uGWauFRANX",
   "projectId": "E3Tr1krw10Gng6e4",
   "project": {
    "updatedAt": "2025-07-30T18:16:41.021Z",
    "createdAt": "2025-07-30T18:16:38.085Z",
    "id": "E3Tr1krw10Gng6e4",
    "name": "Jonathan Zenteno <jzenteno@ssbint.com>",
    "type": "personal",
    "icon": null,
    "description": null,
    "customTelemetryTags": [],
    "creatorId": "3d2ef790-868f-42f1-888d-3301727006f9"
   }
  }
 ],
 "tags": [],
 "activeVersion": null
}